<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video stream live</title>
    <link href="http://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">

</head>
<body>
    <h1>Video Stream Live</h1>
    <p>
        Stream: <br>
        <b>ffmpeg -i rtsp://kam1:2024KAm12024@192.168.0.31:554/Streaming/Channels/1 -c:v copy -c:a copy -hls_time 2 -hls_list_size 5 -hls_flags delete_segments /var/www/html/hls/stream.m3u8</b>
    </p>

    <video id="my_video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="360">
        <source src="/hls/stream.m3u8" type="application/x-mpegURL">
    </video>
    <script src="http://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script>
        var player = videojs('my_video');
        // player.play();
    </script>

</body>

</html>
